USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 5/14/2026 1:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 4/16/2026
-- Update date:
-- Description:	Delete a Customer
-- EXEC DeleteCustomer @CustomerID = 1
-- =============================================
ALTER PROCEDURE [dbo].[DeleteCustomer]
	@CustomerID INT,
	@Delete BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
  BEGIN TRY
		IF @Delete = 1
			BEGIN

			-- Delete all addresses for customer
			-- EXEC DeleteAddress @CustomerID = @CustomerID, @Delete = 1

				DELETE FROM dbo.Customer
				WHERE CustomerID = @CustomerID;
			END
		ELSE 
			BEGIN
			UPDATE dbo.Customer
			SET IsActive = 0, DateUpdated = GETDATE()
			WHERE CustomerID = @CustomerID

			END
	END TRY
BEGIN CATCH
	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

END

