USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrderDetail]    Script Date: 5/14/2026 1:21:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/14/2026
-- Update date: 
-- Description:	Delete history of products purchased
-- EXEC DeleteOrderDetail @ProductID = 1
-- EXEC DeleteOrderDetail @ProductID = 1, @Delete = 1
-- =============================================
CREATE PROCEDURE [dbo].[DeleteOrderDetail]
	@OrderID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
			BEGIN
				DELETE FROM dbo.OrderDetail
				WHERE OrderID = @OrderID;
			END
	END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END
