USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAllOrders]    Script Date: 5/31/2026 2:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/31/2026
-- Description:	Get all Orders
-- EXEC GetAllOrders
-- =============================================
CREATE PROCEDURE [dbo].[GetAllOrders]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
   		
		SELECT OrderID
		FROM dbo.[Order]
	END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END