USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomers]    Script Date: 4/16/2026 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 4/14/2026
-- Update date:
-- Description:	Get all Customers
-- EXEC GetAllCustomers
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCustomers]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
BEGIN TRY
	-- Return TOP 100 active customers with segment information
	SELECT TOP 100 c.CustomerID, c.FirstName, c.LastName, s.Segment
	FROM dbo.Customer AS c
	JOIN dbo.Segment AS s
	ON c.SegmentID = s.SegmentID
	WHERE IsActive = 1;
END TRY
BEGIN CATCH
	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

END