USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAddress]    Script Date: 5/5/2026 3:00:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/5/2026
-- Update date: 
-- Description:	Get a Address
-- EXEC GetAddress @AddressID = 1
-- =============================================
ALTER PROCEDURE [dbo].[GetAddress]
	@AddressID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
   		
		SELECT TOP 1 a.AddressID, a.AddressLine1, a.AddressLine2, a.City, 
		s.State, c.Country, r.Region, at.AddressType, a.CustomerID, a.PostalCode
		FROM dbo.Address AS a
		JOIN dbo.AddressType AS at 
		ON a.AddressTypeID = at.AddressTypeID
		JOIN dbo.Country AS c
		ON a.CountryID = c.CountryID
		JOIN dbo.Region AS r
		ON a.RegionID = r.RegionID
		JOIN dbo.State AS s
		ON a.StateID = s.StateID
		WHERE IsActive = 1 AND AddressID = @AddressID;
	END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END