USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerOrders]    Script Date: 5/31/2026 3:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/31/2026
-- Update date:
-- Description:	Get Customer Order history
-- EXEC GetCustomerOrders @CustomerID = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomerOrders]
	@CustomerID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    BEGIN TRY
        SELECT 
            c.CustomerID,
            c.FirstName,
            c.LastName,
            o.OrderID
        FROM dbo.Customer c
        JOIN dbo.[Order] o 
            ON c.CustomerID = o.CustomerID
        WHERE c.CustomerID = @CustomerID
        ORDER BY o.OrderID DESC;  
    END TRY
 BEGIN CATCH
	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

END;