USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerAddresses]    Script Date: 5/31/2026 12:54:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/31/2026
-- Update date:
-- Description:	Get Customer Addresses
-- EXEC GetCustomerAddresses @CustomerID = 12
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomerAddresses]
	@CustomerID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    BEGIN TRY
        SELECT
            a.AddressID,
            a.AddressLine1,
            a.AddressLine2,
            a.City,
            s.[State]        AS State,
            r.[Region]       AS Region,
            ct.[Country]     AS Country,
            at.[AddressType] AS AddressType,
            a.PostalCode,
            a.CustomerID,
            a.CustomerKey,
            a.IsActive,
            a.DateCreated,
            a.DateUpdated
        FROM dbo.Address AS a
        LEFT JOIN dbo.State       AS s  ON a.StateID       = s.StateID
        LEFT JOIN dbo.Region      AS r  ON a.RegionID      = r.RegionID
        LEFT JOIN dbo.Country     AS ct ON a.CountryID     = ct.CountryID
        LEFT JOIN dbo.AddressType AS at ON a.AddressTypeID = at.AddressTypeID
        WHERE a.CustomerID = @CustomerID
          AND a.IsActive = 1
        ORDER BY a.DateCreated DESC;
    END TRY
BEGIN CATCH
	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

END;
