USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetOrder]    Script Date: 5/31/2026 2:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/31/2026
-- Description:	Get an Order by ID
-- EXEC GetOrder @OrderID = 1
-- =============================================
CREATE PROCEDURE [dbo].[GetOrder]
	@OrderID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            o.OrderID,
            o.CustomerID,
            c.FirstName,
            c.LastName,
            o.SalesPrice,
            o.Quantity,
            o.Discount,
            o.Profit,
            o.ShipModeID
        FROM dbo.[Order] AS o
        LEFT JOIN dbo.Customer AS c
            ON o.CustomerID = c.CustomerID
        WHERE o.OrderID = @OrderID;
    END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END