USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 5/12/2026 1:54:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 4/16/2026
-- Update date: 5/12/2026
-- Description:	Update a Customer
-- EXEC UpdateCustomer @FirstName = 'Ava', @LastName = 'Ortiz', @SegmentID = 1, @CustomerID = 1
-- =============================================
CREATE PROCEDURE [dbo].[UpdateCustomer]
	@FirstName NVARCHAR(50) = NULL,
	@LastName NVARCHAR(50) = NULL,
	@SegmentID INT = NULL,
	@CustomerID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
BEGIN TRY
	UPDATE dbo.Customer
	SET FirstName = COALESCE(@FirstName, FirstName),
	LastName = COALESCE(@LastName, LastName),
	SegmentID = COALESCE(@SegmentID, SegmentID),
	DateUpdated = GETDATE()
	WHERE CustomerID= @CustomerID;
END TRY
BEGIN CATCH
	SELECT ERROR_MESSAGE() AS ErrorMessage;
END CATCH

END

--switch isActive flag from 1 to 0, true to false for delete