USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrder]    Script Date: 5/31/2026 3:04:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/31/2026
-- Description:	Update a Order
-- EXEC UpdateOrder @OrderID
-- EXEC UpdateOrder @OrderID = 1, @CustomerID = 1
-- EXEC UpdateOrder @OrderID = 1, @CustomerID = 1, @SalesPrice = 715.20, @Quantity = 10, @Discount - 0.00, @Profit 178.80, @ShipModeID =1
-- =============================================
ALTER PROCEDURE [dbo].[UpdateOrder]
    @OrderID INT,
    @CustomerID INT = NULL,
    @SalesPrice DECIMAL(18,2) = NULL,
    @Quantity INT = NULL,
    @Discount DECIMAL(18,2) = NULL,
    @Profit DECIMAL(18,2) = NULL,
    @ShipModeID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.[Order]
        SET 
            CustomerID = COALESCE(@CustomerID, CustomerID),
            SalesPrice = COALESCE(@SalesPrice, SalesPrice),
            Quantity   = COALESCE(@Quantity, Quantity),
            Discount   = COALESCE(@Discount, Discount),
            Profit     = COALESCE(@Profit, Profit),
            ShipModeID = COALESCE(@ShipModeID, ShipModeID)
        WHERE OrderID = @OrderID;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH;
END;
