USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 5/17/2026 12:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ava Ortiz
-- Create date: 5/7/2026
-- Update date: 
-- Description:	Update a Product
-- EXEC UpdateProduct @ProductID
-- EXEC UpdateProduct @ProductID, @ProductName = 'New Product', @CategoryID = 1
-- EXEC UpdateProduct @ProductID, @ProductName = 'New Product', @CategoryID = 1, @SubCategoryID = 1, @UnitPrice = 0.00
-- =============================================
ALTER PROCEDURE [dbo].[UpdateProduct]
	@ProductID INT,
	@ProductName NVARCHAR(150) = NULL,
	@CategoryID INT = NULL,
	@SubCategoryID INT = NULL,
    @UnitPrice DECIMAL(18,2) = NULL,
	@Quantity INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- COALESCE was used here because this will allow you to update only certain things in Product.
	-- This way, you don't have to re-enter all information, you'll only need to enter what you want to update.
    BEGIN TRY
   		UPDATE dbo.Product
       	SET ProductName =  COALESCE(@ProductName, ProductName),
            CategoryID =  COALESCE(@CategoryID, CategoryID),
            SubCategoryID =  COALESCE(@SubCategoryID, SubCategoryID),
            UnitPrice =  COALESCE(@UnitPrice, UnitPrice),
			Quantity =  COALESCE(@Quantity, Quantity)
        WHERE ProductID = @ProductID;
	END TRY
	BEGIN CATCH
   		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END